@charset "UTF-8";

:root{
--color1: #F2B705; 
--color2: #F29F05; 
--color3: #D97904; 
--color4: #BF5B04; 
--color5: #F2F2F2; 

--font_padrao: Arial ,  Sans-serif;
--font_alternativa: Helvetica ;


}

